In [2]:
#import the libraries first
import numpy as np
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder

In [11]:
df = pd.read_csv('../Datasets/Grocery_data.csv',header=None)

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.isna().sum()

0       0
1     214
2     393
3     528
4     636
5     737
6     807
7     854
8     904
9     940
10    965
11    983
12    992
13    997
14    999
15    999
16    999
17    999
18    999
19    999
dtype: int64

In [18]:
transactions = []

for i in range(len(df)):
    row_items = []
    for item in df.iloc[i]:
        # Skip NaNs and empty strings
        if pd.notna(item) and str(item).strip() != '':
            row_items.append(str(item).strip())
    transactions.append(row_items)

In [20]:
trans_encoder = TransactionEncoder()

In [21]:
trans_encoded = trans_encoder.fit_transform(transactions)

In [22]:
trans_encoded

array([[ True,  True, False, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]], shape=(1000, 119))

In [23]:
trans_encoded_df = pd.DataFrame(trans_encoded, columns = trans_encoder.columns_)

In [24]:
print(trans_encoder.columns_)

['almonds', 'antioxydant juice', 'asparagus', 'avocado', 'babies food', 'bacon', 'barbecue sauce', 'black tea', 'blueberries', 'body spray', 'bramble', 'brownies', 'bug spray', 'burger sauce', 'burgers', 'butter', 'cake', 'candy bars', 'carrots', 'cauliflower', 'cereals', 'champagne', 'chicken', 'chili', 'chocolate', 'chocolate bread', 'chutney', 'cider', 'clothes accessories', 'cookies', 'cooking oil', 'corn', 'cottage cheese', 'cream', 'dessert wine', 'eggplant', 'eggs', 'energy bar', 'energy drink', 'escalope', 'extra dark chocolate', 'flax seed', 'french fries', 'french wine', 'fresh bread', 'fresh tuna', 'fromage blanc', 'frozen smoothie', 'frozen vegetables', 'gluten free bar', 'grated cheese', 'green beans', 'green grapes', 'green tea', 'ground beef', 'gums', 'ham', 'hand protein bar', 'herb & pepper', 'honey', 'hot dogs', 'ketchup', 'light cream', 'light mayo', 'low fat yogurt', 'magazines', 'mashed potato', 'mayonnaise', 'meatballs', 'melons', 'milk', 'mineral water', 'mint', 'mint green tea', 'muffins', 'mushroom cream sauce', 'napkins', 'nonfat milk', 'oatmeal', 'oil', 'olive oil', 'pancakes', 'parmesan cheese', 'pasta', 'pepper', 'pet food', 'pickles', 'protein bar', 'red wine', 'rice', 'salad', 'salmon', 'salt', 'sandwich', 'shallot', 'shampoo', 'shrimp', 'soda', 'soup', 'spaghetti', 'sparkling water', 'spinach', 'strawberries', 'strong cheese', 'tea', 'tomato juice', 'tomato sauce', 'tomatoes', 'toothpaste', 'turkey', 'vegetables mix', 'water spray', 'white wine', 'whole weat flour', 'whole wheat pasta', 'whole wheat rice', 'yams', 'yogurt cake', 'zucchini']

In [25]:
from mlxtend.frequent_patterns import fpgrowth , association_rules

In [26]:
freq_itemset = fpgrowth(trans_encoded_df , min_support=0.01 ,use_colnames=True)

In [27]:
print(freq_itemset.itemsets)

0               (mineral water)
1                   (green tea)
2                      (shrimp)
3              (low fat yogurt)
4                   (olive oil)
                 ...
345      (french fries, butter)
346         (butter, green tea)
347         (butter, chocolate)
348              (milk, butter)
349    (spaghetti, french wine)
Name: itemsets, Length: 350, dtype: object

In [28]:
freq_itemset = freq_itemset.sort_values(by='support',ascending=False)

In [29]:
freq_itemset

     support                     itemsets
0      0.245              (mineral water)
16     0.207                       (eggs)
33     0.188                  (chocolate)
28     0.185                  (spaghetti)
23     0.159               (french fries)
..       ...                          ...
299    0.010          (fresh bread, milk)
310    0.010  (french fries, ground beef)
346    0.010          (butter, green tea)
348    0.010               (milk, butter)
349    0.010     (spaghetti, french wine)

[350 rows x 2 columns]